# 0.0 Imports

In [24]:
import inflection
import datetime
import math
import boruta
import random
import pickle
import json
import requests

import numpy               as np
import pandas              as pd
import seaborn             as sns
import xgboost             as xgb
import matplotlib.pyplot   as plt
import matplotlib.gridspec as gridspec
import warnings 
warnings.filterwarnings('ignore')

from flask                 import Flask, request, Response
from scipy                 import stats as ss
from boruta                import BorutaPy
from tabulate              import tabulate
from IPython.display       import Image
from IPython.core.display  import HTML
from sklearn.ensemble      import RandomForestRegressor
from sklearn.preprocessing import RobustScaler, MinMaxScaler, LabelEncoder
from sklearn.metrics       import mean_absolute_error, mean_squared_error
from sklearn.linear_model  import LinearRegression, Lasso

# 0.1 Helper Functions

In [25]:
# v de cramer
def cramer_v( x, y):
    cm = pd.crosstab(x, y).values
    
    n = cm.sum()
    r, k = cm.shape
    
    chi2 = ss.chi2_contingency(cm)[0]
    
    chi2corr = max(0, chi2 - (k-1) * (r-1) / (n-1))
    kcorr = k - (k-1)**2/(n-1)
    rcorr = r - (r-1)**2/(n-1)
    
    return np.sqrt((chi2corr/n) / (min(kcorr-1, rcorr-1)))

In [26]:
def mean_percentage_error( y, yhat):
    return np.mean((y - yhat) / y)

def mean_absolute_percentage_error( y, yhat):
    return np.mean(np.abs ((y - yhat) / y))

def ml_error( model_name, y, yhat):
    mae = mean_absolute_error(y, yhat)
    mape = mean_absolute_percentage_error(y, yhat)
    rmse = np.sqrt(mean_squared_error(y, yhat))
    
    return pd.DataFrame( {'Model Name': model_name,
                          'MAE': mae,
                          'MAPE': mape,
                          'RMSE': rmse}, index=[0])

In [27]:
def cross_validation(x_training, kfold, model_name, model, verbose=False):
    mae_list = []
    mape_list = []
    rmse_list = []

    for k in reversed( range(1, kfold+1)):
        if verbose:
            print('\nKFold Number: {}'.format(k))

        #data inicio e fim de validação
        validation_start_date = x_training['date'].max() - datetime.timedelta(days= k*6*7)
        validation_end_date = x_training['date'].max() - datetime.timedelta(days= (k-1)*6*7)

        #filtragem do dataset
        training = x_training[x_training['date'] < validation_start_date]
        validation = x_training[(x_training['date'] >= validation_start_date) & (x_training['date'] <= validation_end_date)]

        # dataset de treino e validação
        xtraining = training.drop(['date', 'sales'], axis=1)
        ytraining = training['sales']

        xvalidation = validation.drop(['date', 'sales'], axis=1)
        yvalidation = validation['sales']

        #modelo
        m = model.fit( xtraining, ytraining)

        #predição
        yhat = m.predict( xvalidation )

        #performance
        m_result = ml_error(model_name,np.expm1(yvalidation), np.expm1(yhat))

        #store performance of each kfold iteration
        mae_list.append(m_result['MAE'])
        mape_list.append(m_result['MAPE'])
        rmse_list.append(m_result['RMSE'])

    return pd.DataFrame({'Model Name': model_name,
                         'MAE CV': np.round(np.mean(mae_list), 2).astype(str) + ' +/- ' + np.round(np.std(mae_list), 2).astype(str),
                         'MAPE CV': np.round(np.mean(mape_list), 2).astype(str) + ' +/- ' + np.round(np.std(mape_list), 2).astype(str),
                         'RMSE': np.round(np.mean(rmse_list), 2).astype(str) + ' +/- ' + np.round(np.std(rmse_list), 2).astype(str)}, index=[0])

In [28]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use('bmh')
    plt.rcParams['figure.figsize'] = [25,12]
    plt.rcParams['font.size'] = 24
    
    display( HTML ('<style..container {width:100% ! important;}</style>'))
    pd.options.display.max_columns= None
    pd.options.display.max_rows = None
    pd.set_option('display.expand_frame_repr', False)
    
    sns.set()

jupyter_settings()

Populating the interactive namespace from numpy and matplotlib

# 0.2 Loading data

In [29]:
df_sales_raw = pd.read_csv('../data/train.csv', low_memory=False)
df_store_raw = pd.read_csv('../data/store.csv', low_memory=False)

#merge
df_raw = pd.merge(df_sales_raw, df_store_raw, how='left', on='Store')

In [30]:
df_raw.sample(5)

        Store  DayOfWeek        Date  Sales  Customers  Open  Promo StateHoliday  SchoolHoliday StoreType Assortment  CompetitionDistance  CompetitionOpenSinceMonth  CompetitionOpenSinceYear  Promo2  Promo2SinceWeek  Promo2SinceYear     PromoInterval
586495    791          3  2014-01-22   7979        806     1      1            0              0         a          a               5950.0                        4.0                    2007.0       0              NaN              NaN               NaN
507680     26          3  2014-04-02   7117        598     1      1            0              0         d          a               2300.0                        NaN                       NaN       0              NaN              NaN               NaN
338857    676          6  2014-09-13   4912       1244     1      0            0              0         b          b               1410.0                        9.0                    2008.0       0              NaN              NaN               NaN
199604     20          1  2015-02-02   8343        877     1      1            0              0         d          a               2340.0                        5.0                    2009.0       1             40.0           2014.0   Jan,Apr,Jul,Oct
494031    872          2  2014-04-15  11231        894     1      1            0              1         a          c               3860.0                        9.0                    2014.0       1             23.0           2015.0  Mar,Jun,Sept,Dec

# 1.0 Data description

In [31]:
df1 = df_raw.copy()

# 1.1 Rename Columns

In [32]:
df_raw.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

In [33]:
cols_old = ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo', 'StateHoliday', 'SchoolHoliday',
            'StoreType', 'Assortment', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear',
            'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval']

snakecase = lambda x: inflection.underscore( x )

cols_new = list(map(snakecase, cols_old))

#apply rename
df1.columns = cols_new

In [34]:
df1.columns

Index(['store', 'day_of_week', 'date', 'sales', 'customers', 'open', 'promo',
       'state_holiday', 'school_holiday', 'store_type', 'assortment',
       'competition_distance', 'competition_open_since_month',
       'competition_open_since_year', 'promo2', 'promo2_since_week',
       'promo2_since_year', 'promo_interval'],
      dtype='object')

# 1.2 Data dimensions

In [35]:
print('Número de linhas: {}'.format(df1.shape[0]))
print('Número de colunas: {}'.format(df1.shape[1]))

Número de linhas: 1017209
Número de colunas: 18

# 1.3 Data types

In [36]:
df1.dtypes

store                             int64
day_of_week                       int64
date                             object
sales                             int64
customers                         int64
open                              int64
promo                             int64
state_holiday                    object
school_holiday                    int64
store_type                       object
assortment                       object
competition_distance            float64
competition_open_since_month    float64
competition_open_since_year     float64
promo2                            int64
promo2_since_week               float64
promo2_since_year               float64
promo_interval                   object
dtype: object

In [37]:
df1['date'] = pd.to_datetime(df1['date'])

# 1.4 Check NA

In [38]:
df1.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64

In [39]:
#competition_distance
#substitui os NA e matém os valores existentes nas demais 
df1['competition_distance'] = df1['competition_distance'].apply(lambda x: 200000.0 if math.isnan(x) else x)

#competition_open_since_month
df1['competition_open_since_month'] = df1.apply( lambda x: x['date'].month if math.isnan(x['competition_open_since_month']) else x['competition_open_since_month'], axis=1)

#competition_open_since_year
df1['competition_open_since_year'] = df1.apply( lambda x: x['date'].year if math.isnan(x['competition_open_since_year']) else x['competition_open_since_year'], axis=1)
                      
#promo2_since_week
df1['promo2_since_week'] = df1.apply( lambda x: x['date'].week if math.isnan(x['promo2_since_week']) else x['promo2_since_week'], axis=1)

#promo2_since_year
df1['promo2_since_year'] = df1.apply( lambda x: x['date'].year if math.isnan(x['promo2_since_year']) else x['promo2_since_year'], axis=1)

#promo_interval
month_map = {1:'Jan', 2:'Fev', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', 7:'Jul', 8:'Aug', 9:'Sep', 10:'Oct', 11:'Nov', 12:'Dec'}

df1['promo_interval'].fillna(0, inplace = True)
df1['month_map'] = df1['date'].dt.month.map(month_map)
df1['is_promo'] = df1[['promo_interval', 'month_map']].apply( lambda x: 0 if x['promo_interval'] == 0 else 1 if x['month_map'] in x['promo_interval'].split(',') else 0, axis = 1)

In [40]:
df1.sample(5).T

                                           436974               501913               568597               455913               814277
store                                         680                  949                  733                  664                 1113
day_of_week                                     4                    2                    5                    1                    2
date                          2014-06-05 00:00:00  2014-04-08 00:00:00  2014-02-07 00:00:00  2014-05-19 00:00:00  2013-07-02 00:00:00
sales                                        6569                 3973                15305                 7983                 6953
customers                                     853                  399                 3617                  853                  696
open                                            1                    1                    1                    1                    1
promo                                           1                    0                    1                    1                    1
state_holiday                                   0                    0                    0                    0                    0
school_holiday                                  0                    0                    0                    0                    1
store_type                                      c                    a                    b                    d                    a
assortment                                      a                    a                    b                    c                    c
competition_distance                        170.0                870.0                860.0               1680.0               9260.0
competition_open_since_month                  6.0                  3.0                 10.0                 10.0                  7.0
competition_open_since_year                2014.0               2006.0               1999.0               2005.0               2013.0
promo2                                          1                    0                    0                    0                    0
promo2_since_week                            35.0                 15.0                  6.0                 21.0                 27.0
promo2_since_year                          2012.0               2014.0               2014.0               2014.0               2013.0
promo_interval                   Mar,Jun,Sept,Dec                    0                    0                    0                    0
month_map                                     Jun                  Apr                  Fev                  May                  Jul
is_promo                                        1                    0                    0                    0                    0